<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <p basicCss>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita accusantium optio corrupti consequatur fugiat aliquid blanditiis fugit dolore, mollitia minus exercitationem veritatis voluptatem quas nisi inventore. Porro eaque laboriosam maxime optio inventore quibusdam atque, rerum quod iste fuga eligendi debitis molestias perferendis non consequatur quis earum, praesentium sit error tempore accusantium explicabo voluptates quia ducimus. At suscipit earum perferendis nam, debitis, rerum corporis est deserunt id molestiae dolorem eveniet repudiandae provident quam optio quaerat! Illo autem dolor, laboriosam praesentium dolorum, possimus sit illum maxime expedita eius consequatur cum soluta minima, nostrum ipsum reprehenderit! Ea error nemo at facilis sapiente! Ex?
      </p>
      <p advanceCss>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita accusantium optio corrupti consequatur fugiat aliquid blanditiis fugit dolore, mollitia minus exercitationem veritatis voluptatem quas nisi inventore. Porro eaque laboriosam maxime optio inventore quibusdam atque, rerum quod iste fuga eligendi debitis molestias perferendis non consequatur quis earum, praesentium sit error tempore accusantium explicabo voluptates quia ducimus. At suscipit earum perferendis nam, debitis, rerum corporis est deserunt id molestiae dolorem eveniet repudiandae provident quam optio quaerat! Illo autem dolor, laboriosam praesentium dolorum, possimus sit illum maxime expedita eius consequatur cum soluta minima, nostrum ipsum reprehenderit! Ea error nemo at facilis sapiente! Ex?
      </p>
      <div class="form-group">
        <input type="text"
         appToLowecase 
         class="form-control">
      </div>

      <hr>
      <div class="form-group mb-4">
        <input 
        appCreditCard
        type="text" class="form-control">
      </div>

    </div>
  </div>
</div>